@mixin animate($props: all) {
  -webkit-transition: $props .2s ease-in-out;
  -moz-transition: $props .2s ease-in-out;
  -o-transition: $props .2s ease-in-out;
  transition: $props .2s ease-in-out;

  @if $props != 'all' {
    will-change: $props;
  }
}
