html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
}

.page-content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 6em 1em;

  @media only screen and (max-width: $on-laptop) {
    padding: 4em 1em;
  }
  @media only screen and (max-width: $on-palm) {
    padding: 3em 1em;
  }
}

.page-block {
  background-color: $grey-color-light
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 8px;
}
