body {
  background-color: $background-color;
}

.page-content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 6em 1em;
}

.page-block {
  background-color: $grey-color-light
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 8px;
}
