@font-face {
  font-family: Metropolis;
  src: url(fonts/Metropolis-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: MetropolisBold;
  src: url(fonts/Metropolis-Bold.otf);
  font-weight: bold;
}
