@font-face {
  font-family: Metropolis;
  src: url(fonts/Metropolis/Metropolis-Light.otf);
}

@font-face {
  font-family: MetropolisBold;
  src: url(fonts/Metropolis/Metropolis-Bold.otf);
}

@font-face {
  font-family: MetropolisExtraLight;
  src: url(fonts/Metropolis/Metropolis-Thin.otf);
}
