input, button, .button, textarea   {
  @include default-animation(border-color);
  @include border-radius(2em);

  display: inline-block;
  margin: 0.5em 0;
  padding: 1em 1.5em;

  border: 1px solid $grey-color;
  background-color: $background-color;

  &:hover {
    border-color: $input-hover-color;
  }
  &.full-width {
    width: 100%;
  }
}

button, .button, input[type=submit] {
  @include default-animation(background-color);

  padding: 0.8em 1.8em;

  text-align: center;
  background-color: $input-color;
  border: 4px solid $input-color;
  color: $grey-color-light;
  cursor: pointer;

  &:hover {
    color: $grey-color-light;
    background-color: $input-hover-color;
    border-color: $input-color;
  }
}

form {
  margin: 0px auto;

  &.reduced-width {
    max-width: 500px;
  }
}