body {
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  line-height: $base-line-height;
}

ol, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

details {
  padding: 2em;
  background-color: $grey-color-light;

  summary {
    font-style: italic;
    cursor: pointer;
  }
}

p {
  line-height: 1.7em;
}

button {
  padding: 1em 2em;
  background-color: $navigation-background;
  border-radius: 2em;
  color: $grey-color-light;
  cursor: pointer;
}
