body {
  font: 400 #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  line-height: $base-line-height;
}

ol, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

details {
  padding: 2em;
  background-color: $grey-color-light;

  summary {
    font-style: italic;
    cursor: pointer;
  }
}

p {
  line-height: 1.7em;
}
