$base-font-family: 'Quicksand', Tahoma, Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-line-height: 1.5em !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$link-color:       #3b3bb7;
$link-hover-color: lighten($link-color, 15%);

$grey-color:       #CCCCCC;
$grey-color-light: #F5F5F5;
$grey-color-dark:  #828282;

$red:              #e74c3c;

// Navigation colors
$navigation-background: rgba($red, .96);
$navigation-link: rgba(#fff, 0.9);
$navigation-link-hover: #fff;

// Form
$input-color:       lighten($red, 3%);
$input-hover-color: lighten($input-color, 5%);

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
