<footer>
  <div class="page-content">
    <div class="wrapper">
      <div class="left">
        <h2>Doe mee met ons initiatief</h2>
        <p>We zoeken meer partijen en zorgprofessionals die zich bij ons manifest aansluiten, onze waarden helpen uitdragen en ontwikkelen aan de zorg-infrastructuur van de toekomst.</p>
        <button>Ik doe mee!</button>
      </div>

      <div class="right">
        <h2>Sitemap</h2>
        <ul>
          <li>
            <a href="{{ '/' | relative_url }}">Home</a>
          </li>
          <li>
            <a href="{{ 'position-paper' | relative_url }}">Position paper</a>
          </li>
          <li>
            <a href="{{ 'manifest' | relative_url }}">Manifest</a>
          </li>
          <li>
            <a href="{{ 'contact' | relative_url }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
