<footer>
  <div class="page-content">
    <div class="wrapper">
      <div class="left">
        <h2>Doe mee met ons initiatief</h2>
        <p>We zoeken meer partijen en zorgprofessionals die zich bij ons manifest aansluiten, onze waarden helpen uitdragen en ontwikkelen aan de zorg-infrastructuur van de toekomst.</p>
        <a href="{{ 'meedoen' | relative_url }}" class="button">Ik doe mee!</a>

        <p><a class="follow-us-on-twitter">@stichtingNuts</a></p>
      </div>

      <div class="right">
        <h2>Sitemap</h2>
        {%- include site-structure.html -%}
      </div>
    </div>
  </div>
</footer>
