<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script type="text/javascript" src="{{ "/assets/javascripts/navigation.js" | relative_url }}"></script>
  <title>Nuts — Een decentraal communicatienetwerk voor de zorg</title>

  <meta property="og:title" content="Nuts{% if page.title %} — {{ page.title }}{% endif %}">
  <meta property="og:description" content="Een decentraal communicatienetwerk voor de zorg">
  <meta property="og:url" content="{{ "." | absolute_url }}">
  <meta name="twitter:card" content="summary_large_image">

  {% if page.header_image == 'position-paper' %}
    <meta property="og:image" content="{{ 'images/backgrounds/position-paper.jpg' | absolute_url }}">
  {% elsif page.header_image == 'manifest' %}
    <meta property="og:image" content="{{ 'images/backgrounds/manifest.jpg' | absolute_url }}">
  {% elsif page.header_image == 'contact' %}
    <meta property="og:image" content="{{ 'images/backgrounds/contact.jpg' | absolute_url }}">
  {% else %}
    <meta property="og:image" content="{{ 'images/backgrounds/front-page.jpg' | absolute_url }}">
  {% endif %}
</head>
