<form class="reduced-width" action="https://formspree.io/mark.weernink@nedap.com" method="POST">
  <input type="hidden" name="_subject"  value="[NUTS] Contactformulier ingevuld op de website" />
  <input type="hidden" name="_next"     value="https://nedap.github.io/nuts-webpresence/bedankt/" />
  <input type="hidden" name="_language" value="nl" />
  <input type="text"   name="_gotcha"   style="display:none" />

  <input class="full-width" type="tel" name="phonenumber" autocomplete="phonenumber" placeholder="Telefoonnummer">
  <input required class="full-width" type="text" name="name" autocomplete="name" placeholder="Naam">
  <input required class="full-width" type="email" name="_replyto" autocomplete="email" placeholder="E-mailadres">
  <textarea class="full-width" rows="10" name="content" placeholder="Wil je meedoen of wil je op de hoogte worden gehouden? We zijn benieuwd!"></textarea>

  <input class="full-width" type="submit" value="Verstuur">
</form>
