<form class="reduced-width" action="https://formspree.io/mark.weernink@nuts.nl" method="POST">
  <input type="hidden" name="_subject"  value="[NUTS] Contactformulier ingevuld op de website" />
  <input type="hidden" name="_next"     value="https://nedap.github.io/nuts-webpresence/bedankt/" />
  <input type="hidden" name="_language" value="nl" />
  <input type="text"   name="_gotcha"   style="display:none" />

  <input class="full-width" autocomplete="on" type="text"  name="name"        placeholder="Naam*"        required>
  <input class="full-width" autocomplete="on" type="email" name="_replyto"    placeholder="E-mailadres*" required>
  <input class="full-width" autocomplete="on" type="tel"   name="phonenumber" placeholder="Telefoonnummer">
  <textarea class="full-width" rows="10" name="content" placeholder="Waar kunnen we je mee van dienst zijn?"></textarea>

  <input class="full-width" type="submit" value="Verstuur">
</form>
