a.creative-commons {
  position: relative;
  display: block;
  min-height: 33px;
  max-width: 400px;
  margin: 0 0 0 auto;

  color: $text-color;
  font-size: 0.8em;
  text-align: right;
  line-height: 1em;
  padding: 3em 100px 2em 0;

  img {
    float: right;
    position: absolute;
    right: 0px;

    border-width: 0;
  }
}
