.fancy-image {
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.large {
    height: 100vh;
  }

  // We show these two fancy images on the front page:
  &.contact        { background-image: url('images/backgrounds/contact.jpg');
                     background-position: center 61%;                                }
  &.powerlines     { background-image: url('images/backgrounds/powerlines.jpg');     }
}
