footer {
  background-color: $grey-color-light;

  .wrapper {
    @include flexbox;

    min-height: 10vh;

    .left, .right {
      @include flex(1);
    }

    .right {
      text-align: right;
    }
  }

  ul {
    list-style-type: none;
  }
}
