section.front-page-greeting {
  position: relative;
  height: 90vh;

  background-color: $red;
  background-image: url(images/front-page.svg);
  background-size: contain;
  background-position: right 80% bottom -1px;
  background-repeat: no-repeat;
  color: $navigation-link;

  overflow: hidden;

  @media screen and (max-width: 1000px) {
    background-position: left 10% bottom -1px;
    height: 99vw;
  }

  .page-content {
    position: absolute;
    left: 50%;
    max-width: 30vw;
    padding: 5vh 2vh;

    h1 {
      margin-top: 5vh;
      min-height: 20vh;

      font-family: 'Avenir Next Ultra Light', 'MetropolisExtraLight';
      font-size: calc((6vw + 2vh) / 2);
      font-weight: 1;
      letter-spacing: 0.1vh;
    }

    p {
      margin-top: 6vw;
      max-width: 90%;

      font-size: 1.1vw;
      font-weight: 100;
    }

    ul {
      list-style: none;
      margin: 4vw -2vw;
      padding: 0;
      display: flex;
      flex-direction: row;

      li {
        flex: 1 1 33%;
        margin: 0px 0.1vw;

        a {
          flex: 0 0 auto;
          display: block;
          height: 5.5vw;
          margin: 0px 0.5vw;
          padding: 1vw;

          background-color: #444;
          border-radius: 0.5vw;
          box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
          color: $navigation-link;
          font-family: 'Avenir Next Ultra Light', 'MetropolisExtraLight';
          font-size: 0.9vw;
          font-weight: 1;
        }
      }
    }
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 90vh - 11.8vh;
    left: 37%;
    width: 65%;
    height: 8vw;
    transform-origin: top left;
    transform: rotateZ(5.5deg);

    background-color: $grey-color-light;
  }

  &:after {
    top: 90vh - 13.5vh;
    width: 40%;
    transform-origin: top right;
    transform: translateX(-100%) rotateZ(-11deg);
  }
}

section.front-page-explainer {
  background-color: $grey-color-light;
}
