.site-header {
  display: block;
  width: 100%;

  min-height: 40vh;

  background-color: $grey-color;
  background-image: url('images/backgrounds/front-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 83%;

  // Positioning context for the mobile navigation icon
  position: relative;

  .big_logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-image: url('images/nuts-shadow.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.full-screen {
    height: 100vh;
    background-image: url('images/backgrounds/front-page.jpg');
    background-position: center;
  }
  &.position-paper {
    background-image: url('images/backgrounds/position-paper.jpg');
    background-position: center 42%;
  }
  &.manifest {
    background-image: url('images/backgrounds/manifest.jpg');
    background-position: center 65%;
  }
  &.contact {
    background-image: url('images/backgrounds/contact.jpg');
    background-position: center 61%;
  }
}
