.site-header {
  display: block;
  width: 100%;

  min-height: 40vh;

  background-color: $grey-color;
  background-image: url('images/backgrounds/front-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 83%;

  // Positioning context for the mobile navigation icon
  position: relative;

  .big_logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;

    background-image: url('images/nuts-shadow.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;

    p {
      position: absolute;
      top: 60%;
      width: 100%;
      box-sizing: border-box;

      text-align: center;
      font-size: 1.5em;
      color: $navigation-link;
      text-shadow: 0px 1px 8px rgba(0,0,0,0.8);

      @media only screen and (max-width: $on-laptop) {
        font-size: 1em;
      }
    }
  }

  .bouncy-arrow {
    $size: 3vh;
    $colour: $red;

    display: block;
    position: absolute;
    bottom: 2 * $size;
    right: 2 * $size;
    z-index: 2;
    width: 2 * $size;
    height: 3 * $size;

    cursor: pointer;
    animation: 0.5s infinite alternate ease-in bounce;

    &:before, &:after {
      content: ' ';
      position: absolute;
      left: 50%;
    }

    &:before {
      top: 0;
      bottom: 0.7 * $size;
      width: $size / 2;
      margin-left: -1 * $size / 4;
      background: $colour;
      background: linear-gradient(to bottom, transparent 0%, $colour 80%);
    }

    &:after {
      bottom: 0;
      border: solid transparent;
      border-top-color: $colour;
      border-width: 0.8 * $size;
      margin-left: -0.8 * $size;
      margin-bottom: -0.8 * $size;
    }

    @keyframes bounce {
      0% {
        transform: translateY(-20%);
      }
      100% {
        transform: translateY(0%);
      }
    }
  }

  &.full-screen {
    height: 100vh;
    background-image: url('images/backgrounds/front-page.jpg');
    background-position: center;
  }
  &.position-paper {
    background-image: url('images/backgrounds/position-paper.jpg');
    background-position: center 42%;
  }
  &.manifest {
    background-image: url('images/backgrounds/manifest.jpg');
    background-position: center 65%;
  }
  &.contact {
    background-image: url('images/backgrounds/contact.jpg');
    background-position: center 61%;
  }
  &.components {
    background-image: url('images/backgrounds/components.jpg');
    background-position: center 20%;
  }
  &.community {
    background-image: url('images/backgrounds/community.jpg');
    background-position: center;
  }
}
