.site-nav {
  @include animate;

  position: relative;
  z-index: 2;

  .fixed & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $navigation-background;
  }
}

.navigation {
  padding: 2em;
  height: $base-line-height;

  .small_logo {
    @include animate;

    display: block;
    position: relative;
    top: -12px;
    left: -6px;
    height: 50px;
    width: 120px;
    float: left;

    background-image: url('nuts.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;

    .fixed & {
      opacity: 1;
    }
  }

  .right-menu {
    float: right;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    @include animate;

    color: $navigation-link;
    line-height: $base-line-height;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.7);

    &:hover {
      color: $navigation-link-hover;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media only screen and (max-width: $on-laptop) {
    padding: 1em;

    .small_logo {
      height: 25px;
      width: 60px;
      top: 0px;
      left: -3px;
    }
  }

  @media only screen and (max-width: $on-palm) {
    @include animate;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .fixed & {
      background-color: $navigation-background;
    }

    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 5px;
      text-align: center;

      > svg {
        fill: white;
      }
    }

    input ~ .trigger {
      @include animate;
      position: fixed;
      width: 100vw;
      top: 56px;
      bottom: 0;
      left: 110vw;

      background-color: $background-color;
      overflow-y: scroll;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    }

    input:checked ~ .trigger {
      left: 0vw;
    }

    .page-link {
      display: block;
      width: 100%;
      padding: 1.5em 1em;

      text-align: left;
      color: $text-color;
      text-shadow: none;
      border-bottom: 1px solid $grey-color;

      &:hover {
        color: $text-color;
      }
    }
  }
}
