.site-nav {
  @include default_animation(background-color);

  position: relative;
  z-index: 2;

  .fixed & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $navigation-background;
  }

  // Just for Kevin, and only working in Safari: a blurry background
  // under the menu bar.
  // (We keep the first default_animation for if a browser decides to
  // choke on a transition on -webkit-backdrop-filter.)
  @include default_animation(background-color, -webkit-backdrop-filter);
  -webkit-backdrop-filter: blur(0px);
  .fixed & {
    -webkit-backdrop-filter: blur(3px);
  }
}

.navigation {
  padding: 2em;
  height: $base-line-height;
  box-sizing: content-box;

  .small_logo {
    @include default_animation(opacity);

    display: block;
    position: relative;
    top: -12px;
    left: -6px;
    height: 50px;
    width: 120px;
    float: left;

    background-image: url('images/nuts.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;

    .fixed & {
      opacity: 1;
    }
  }

  .right-menu {
    float: right;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    @include default_animation(color);

    color: $navigation-link;
    line-height: $base-line-height;
    text-shadow: 0px 1px 8px rgba(0,0,0,0.8);

    &:hover {
      color: $navigation-link-hover;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media only screen and (max-width: $on-laptop) {
    padding: 1em;

    .small_logo {
      height: 25px;
      width: 60px;
      top: 0px;
      left: -3px;
    }
  }

  @media only screen and (max-width: $on-palm) {
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 5px;
      text-align: center;

      > svg {
        fill: white;
      }
    }

    input ~ .trigger {
      @include default_animation(left);
      position: fixed;
      width: 100vw;
      top: 56px;
      bottom: 0;
      left: 110vw;

      background-color: $background-color;
      overflow-y: scroll;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    }

    input:checked ~ .trigger {
      left: 0vw;
    }

    .page-link {
      display: block;
      width: 100%;
      padding: 1.5em 1em;

      text-align: left;
      color: $text-color;
      text-shadow: none;
      border-bottom: 1px solid $grey-color;

      &:hover {
        color: $text-color;
      }
    }
  }
}
