.site-nav {
  @include default-animation(background-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .fixed & {
    background-color: $navigation-background;
  }

  // Just for Kevin, and only working in Safari: a blurry background
  // under the menu bar.
  // (We keep the first default-animation for if a browser decides to
  // choke on a transition on -webkit-backdrop-filter.)
  @include default-animation(background-color, -webkit-backdrop-filter);
  -webkit-backdrop-filter: blur(0px);
  .fixed & {
    -webkit-backdrop-filter: blur(3px);
  }
}

.navigation {
  height: $base-line-height;
  box-sizing: content-box;
  padding: 0 2em;

  .small_logo {
    @include default-animation(top, left, width, height);

    display: block;
    position: relative;
    top: 40px;
    left: 10px;
    height: 90px;
    width: 200px;
    float: left;

    background-image: url('images/nuts.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .fixed & {
      top: 13px;
      left: -6px;
      height: 50px;
      width: 120px;
    }
  }

  .right-menu {
    float: right;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .nav-list > ul {
    list-style: none;

    & > li {
      @include default-animation(color);
      display: inline-block;
      position: relative;
      padding: 2em 1em 2em 0;

      color: $navigation-link;
      line-height: $base-line-height;
      cursor: pointer;

      a {
        color: $navigation-link;
      }

      &:hover {
        color: $navigation-link-hover;
      }

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }

      ul {
        @include border-radius(1em);
        @include default-animation(opacity, visibility);

        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: -1em;
        top: $base-line-height + 3em;
        padding: 0;

        width: 200px;
        background-color: $grey-color-light;
        list-style-type: none;
        overflow: hidden;
        border: 4px solid $navigation-background;

        li {
          a {
            @include default-animation(color);
            display: block;
            padding: 1em;
            text-shadow: none;
            color: lighten($text-color, 3);
            text-align: right;
          }

          &:hover {
            background-color: lighten($grey-color-light, 5);
            a {
              color: $text-color;
            }
          }
        }
      }

      &:hover {
        // Show submenu
        ul, &:before {
          opacity: 1;
          visibility: visible;
        }
        // Rotate chevron
        &:after {
          transform: rotateZ(270deg);
        }
      }

      // White triangle pointing up from submenu
      &:before {
        @include default-animation(opacity, visibility);
        content: '';
        display: block;
        position: absolute;
        top: $base-line-height + 3em;
        margin-top: -6px;
        left: 30%;
        width: 0;
        height: 0;
        z-index: 1;

        border-left: 12px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid $grey-color-light;

        opacity: 0;
        visibility: hidden;
      }

      // Chevron pointing down after menu items
      &:after {
        @include default-animation(transform);
        content: 'â¯';
        font-size: 0.8em;
        font-weight: 200;
        position: absolute;
        transform: rotateZ(90deg);
        top: calc(2em + 7px);
        right: 0px;
      }
    }
  }

  @media only screen and (max-width: $on-laptop) {
    padding: 0 1em;

    .nav-list > ul > li {
      padding: 1em 1em 1em 0;

      ul {
        top: $base-line-height + 1.5em;
      }

      &:before {
        top: $base-line-height + 1.5em;
      }

      &:after {
        top: calc(1em + 5px);
      }
    }

    .small_logo {
      .fixed & {
        height: 25px;
        width: 60px;
        top: 12px;
        left: -3px;
      }
    }
  }

  @media only screen and (max-width: $on-palm) {
    $reduced-height: 49px;
    text-align: right;
    height: $reduced-height;

    &:before {
      display: none;
    }

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: $reduced-height;
      height: $reduced-height;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 25px;
      height: 36px;
      line-height: 55px;
      text-align: center;

      > svg {
        fill: white;
      }
    }

    input ~ .nav-list {
      @include default-animation(left);
      position: fixed;
      width: 100vw;
      top: $reduced-height;
      bottom: 0;
      left: 110vw;

      background-color: $background-color;
      overflow-y: scroll;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    }

    input:checked ~ .nav-list {
      left: 0vw;
    }

    .nav-list > ul {
      padding: 0;

      & > li {
        display: block;
        width: 100%;
        padding: 2em 0 0 0;

        text-align: center;
        color: $text-color;
        text-shadow: none;
        border-bottom: 1px solid $grey-color;
        background-color: $grey-color-light;

        &:hover {
          color: $text-color;
        }

        &:after {
          content: '';
        }

        ul {
          position: static;
          opacity: 1;
          visibility: visible;
          width: 100%;
          margin-top: 1em;
          padding: 0;
          border: 0px;

          border-radius: 0;
          box-shadow: none;

          li {
            padding: 0;
            background-color: white;

            a {
              text-align: left;
              border-top: 1px solid $grey-color;
              padding: 1.5em 1em;
            }
          }
        }
      }
    }
  }
}
