.social-media-buttons {
  min-height: 33px;
  max-width: 400px;
  margin: 0 auto 0 0;
  float: left;

  color: $text-color;
  font-size: 0.8em;
  line-height: 1em;

  p {
    margin: 0 0 0.5em 0;
  }

  li {
    display: inline-block;
    height: 2em;
    width: 2em;
    margin-right: 0.5em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    color: transparent;
    cursor: pointer;

    transition: background-size 0.2s ease;

    &.facebook { background-image: url('images/social-media-icons/facebook.png'); }
    &.twitter  { background-image: url('images/social-media-icons/twitter.png'); }
    &.linkedin { background-image: url('images/social-media-icons/linkedin.png'); }

    &:hover {
      background-size: 100%;
    }
  }

}
