<footer>
  <div class="page-content">
    <div class="wrapper">
      <div class="left">
        <h2>Vind ons</h2>
        <p>
          <a href="https://linkedin.com/company/stichting-nuts" class="socials linkedin">Nuts op LinkedIn</a>
          <a href="https://www.youtube.com/channel/UCJtbrUe2TphkzDi2lPY5yYQ" class="socials youtube">Nuts op YouTube</a>
          <a href="/podcast" class="socials podcast">Going Nuts podcast</a>
        </p>
      </div>

      <div class="right">
        <h2>Sitemap</h2>
        {%- include site-structure.html -%}
      </div>
    </div>
  </div>
</footer>
