<ul>
  <li>
    Het initiatief
    <ul>
      <li>
        <a class="page-link" href="{{ 'position-paper' | relative_url }}">Position paper</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'manifest' | relative_url }}">Manifest</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'q-and-a' | relative_url }}">Veelgestelde vragen</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'podcast' | relative_url }}">Podcast</a>
      </li>
    </ul>
  </li>
  <li>
    Meedoen
    <ul>
      <li>
        <a class="page-link" href="{{ 'community' | relative_url }}">Community</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'kalender' | relative_url }}">Kalender</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'software' | relative_url }}">Software</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'documentatie' | relative_url }}">Documentatie</a>
      </li>
    </ul>
  </li>
  <li>
    Over Nuts
    <ul>
      <li>
        <a class="page-link" href="{{ 'stichting' | relative_url }}">Stichting Nuts</a>
      </li>
      <!-- <li>
        <a class="page-link" href="{{ 'contact' | relative_url }}">Nuts in het nieuws</a>
      </li> -->
      <li>
        <a class="page-link" href="{{ 'leeswijzer' | relative_url }}">Leeswijzer</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'pers' | relative_url }}">Voor de pers</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'privacy-policy' | relative_url }}">Privacy policy</a>
      </li>
      <li>
        <a class="page-link" href="{{ 'contact' | relative_url }}">Contact</a>
      </li>
    </ul>
  </li>
</ul>
