a.creative-commons {
  position: relative;
  display: block;
  min-height: 33px;
  margin: 0 0 0 auto;

  color: $text-color;
  text-align: right;
  padding: 1em 100px 1em 0;

  img {
    float: right;
    position: absolute;
    right: 0px;

    border-width: 0;
  }
}
