footer {
  background-color: $grey-color-light;

  .wrapper {
    @include flexbox;
    min-height: 10vh;

    @media only screen and (max-width: $on-palm) {
      flex-wrap: wrap;
    }

    .left, .right {
      @include flex(1 1 400px);
    }

    .right {
      text-align: right;

      @media only screen and (max-width: $on-palm) {
        text-align: left;
      }
    }
  }

  ul {
    list-style-type: none;

    li {
      margin-top: 1.2em;
    }

    ul li {
      margin-top: 0;
    }

    li.secret-page {
      display: none;
    }
  }
}
