.participants {
  @include flexbox();
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 1070px;
  margin: 0 auto;
  padding: 0 0.5em 7em 0.5em;

  @media only screen and (max-width: $on-laptop) {
    padding-bottom: 5em;
  }
  @media only screen and (max-width: $on-palm) {
    padding-bottom: 4em;
  }

  .participant {
    @include flex(1);
    position: relative;
    padding: 0.5em;
    min-width: 200px;
    min-height: 150px;
    margin: 2em;
    padding: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
