---
layout: default
---

<div class="page-content emphasis">
  {{ content }}
</div>

<div class="page-block">
  <div class="page-content">

    <h2 class="centered">Schrijf je in voor onze nieuwsbrief</h2>

    <form class="reduced-width" action="https://nedap-healthcare.us1.list-manage.com/subscribe/post?u=16205e2d062a89335e5c33f08&amp;id=671cd56d16" method="post" target="_blank" novalidate>
      <input class="full-width centered" type="email" value="" name="EMAIL" placeholder="Jouw e-mailadres" required>

      <!-- Mailchimp says: real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_16205e2d062a89335e5c33f08_671cd56d16" tabindex="-1" value=""></div>

      <input class="full-width" type="submit" value="Schrijf me in!" name="subscribe">
    </form>

  </div>
</div>

<div>
  {%- include participants.html -%}
</div>

<div class="page-block">
  <div class="fancy-image manifest"></div>
</div>

<!-- <div class="page-content">
  {%- include medium-feed.html -%}
</div>

<div class="page-block">
  <div class="fancy-image position-paper"></div>
</div> -->
