---
layout: default
---

<div class="page-content">
  {{ content }}
</div>

{%- include participants.html -%}

<div class="page-block" style="background-color: blue;">
  <div class="page-content">
    <p>[Hippe foto hier]</p>
  </div>
</div>

<div class="page-content">
  <p>[ Blurb van laatste twee blogs op Medium.com ]</p>
</div>

<div class="page-block" style="background-color: blue;">
  <div class="page-content">
    <p>[Hippe foto hier]</p>
  </div>
</div>

<div class="page-content">
  <p>[ Call to action ]</p>
</div>
